version: "3"
services:
    api:
      build:
        dockerfile: core/environments/docker/development/Dockerfile
        context: .
      container_name: "api"
      ports:
        - 80:80
      tty: true
        volumes:
          - .:/app
          - ./core/environments/docker/config/nginx.conf:/etc/nginx/sites-enabled/api
      depends_on:
        - db
      links:
        - db
    db:
        image: mysql:latest
        ports: 
            - "3306:3306"
        environment:
            MYSQL_USER: admin
            MYSQL_PASSWORD: admin
            MYSQL_ROOT_PASSWORD: root
        networks:
            - default
        restart: always
        command: --default-authentication-plugin=mysql_native_password
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        links: 
            - db:db
        ports:
            - 8000:80
        environment:
            PMA_ARBITRARY: 1
            MYSQL_USER: admin
            MYSQL_PASSWORD: admin
            MYSQL_ROOT_PASSWORD: root